* {
    margin: 0;
    padding: 0;
    transition: color .1s, background-color .5s;
    color: inherit;
    text-decoration: inherit;
    box-sizing: border-box;
}

body {
    --primary-color: skyblue;
    --accent-01: #f5f5f5;
    --accent-02: #9ca3af;
    --accent-03: #1f2937;
    --accent-04: #111827;
    --green: rgb(7, 169, 7);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: var(--accent-04);
    color: var(--accent-01);
}
body.light {
    --primary-color: #4646e5;
    --accent-01: #1f2937;
    --accent-02: #053891;
    --accent-03: white;
    --accent-04: #fdf6e3;
    --green: rgb(5, 131, 5);
}
.container {
    display: grid;
    gap: 20px;
    max-width: 1100px;
    padding: 20px 30px;
    margin: 0 auto;

    align-items: stretch;
}

.box{
    background-color: var(--accent-03);
    border-radius: 25px;
}

/*Responsiveness*/

/*Desktop*/
@media screen and (min-width : 1024px){
    .container{
    grid-template-columns: 85px 430px 1fr;
    gap: 25px;
}
}
/*Tablet*/
@media screen and (min-width : 768px) and (max-width : 1023px){
    .container{
    grid-template-columns: 85px 1fr;
    max-width: 650px;
    gap: 20px;
}
    .content{
        grid-column-start: 2;
        grid-column-end: 4;
    }
}
/*Mobile*/
@media screen and (max-width : 768px){
    .container{
    grid-template-columns: 1fr;
    max-width: 500px;
    padding: 20px;
    padding-top: 50px;
    gap: 10px;

}
.navbar{
    display: inline-grid;
    grid-template-columns: 85px 1fr;
}
.nav{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5px;
}
.nav, .navbar p, .divider, nav p{
    display: none;
}
}
/* Navbar */
.navbar {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    position: sticky;
    top: 50px;
    z-index: 5;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--accent-02);
}

.navbar > div {
    padding: 15px 5px;
}

.navbar ion-icon {
    font-size: 24px;
    margin: auto;
}

.navbar .active,
.navbar .item:hover {
    color: var(--primary-color);
    opacity: 1;
}

.divider {
    height: 2px;
    width: 100%;
    margin: 15px 0;
    background-color: var(--accent-02);
}

/*Profile*/
.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 19px;
    height: 100%;
}

.profile .header{
    max-width: 250px;
    width: 100%;
    border-radius: 25px 25px 0 0;
    clip-path: polygon(100% 0,100% 80%,80% 100%,20% 100%,0 80%,0 0);
    margin: 0 auto;
}
.profile .img{
    width: 150px;
    position: relative;
    margin: -50px auto 0;
    border: var(--accent-04) 5px solid;
    border-radius: 35px;
}
.profile p{
    font-size: 18px;
    margin-top: 5px;
}
.profile h2{
    font-size: 22px;
    margin-top: 10px;
}
.profile ul{
    list-style-type: none;
    margin: 30px 0 80px 0;
}
.profile ul li{
    display: inline;
}
.profile table{
    width: 100%;
    padding-bottom: 15px;
}
.profile ion-icon{
    color: var(--accent-04);
    transition: color .5s border-color .5s background-color .5s;
    margin-bottom: -7px;
}
.profile ul ion-icon {
    font-size: 26px;
    padding: 8px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: var(--accent-01);
}
.profile ul ion-icon:hover {
    background-color: var(--accent-01);
}
.github:hover{
    color: var(--green);
}
.facebook:hover{
    color: blue;
}
.linkedin:hover{
    color: rgb(0, 0, 153);
}
.instagram:hover{
    color: rgb(235, 5, 166);
}
.profile table ion-icon {
    padding: 5px;
    margin: 10px;
    transition: color .5s background-color .5s;
}
/*Content*/
.content{
    padding: 20px 15px 20px 20px;
}
.content h2{
    font-size: 2em;
}
.content p{
    line-height: 1.2;
    font-size: 18px;
}
.coloured{
    color: var(--primary-color);
}
.green_coloured{
    color: var(--green);
}
.no-border{
    border-left: none !important;
    margin-left: 0 !important;
}
/*Achievements*/
section{
    text-align: left;
    margin: 20px auto;
}
.achievements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: small;
    background-color: var(--accent-04);
    padding: 20px 30px;
    gap: 10px;
    border-radius: 30px;
}
.achievements p{
    font-size: small;
}
.achievements ion-icon{
    display: inline-block;
}

/*Skills*/
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    color: var(--accent-02);
}
.skills > div{
    color: var(--accent-02);
    background-color: var(--accent-04);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border: var(--accent-04) 3px solid;
    transition: border-color .5s;
    cursor: pointer;
}
.skills > div:hover{
    color: var(--primary-color);
}
.skills ion-icon{
    color: var(--primary-color);
    font-size: 32px;
}
.skills progress{
    width: 100%;
    appearance: none;
    height: 10px;
}
.skills progress::-webkit-progress-bar{
    border-radius: 30px;
    color: var(--accent-04);
}
.skills progress::-webkit-progress-value{
    border-radius: 10px;
    color: var(--primary-color);
}
/*Experiences*/
.experience{
    text-align: left;
    margin: 15px 0;
}
.experience li{
    padding-left: 20px;
    border-left: var(--accent-02) 2px solid;
    margin-left: 17px;
    color: var(--accent-02);
}
.experience .green_coloured{
    color: var(--green);
}
.experience h3{
    margin: 2px 2px 2px 2px;
    gap: 5px;
}
.experience h5{
    padding: 25px;
    position: relative;
    color: var(--primary-color);
}
.experience h5::before{
    content: "";
    position: absolute;
    color: var(--primary-color);
    width: 14px;
    height: 14px;
    border-radius: 20px;
    left: 0;
    top: 5px;
}

/*Educations*/
.education{
    text-align: left;
    margin: 15px 0;
    gap: 15px;
}
.education p,h5{
    padding-left: 20px;
    border-left: var(--accent-02) 2px solid;
    margin-left: 17px;
    color: var(--accent-02);
}
.education .coloured, .green_coloured{
    padding-left: 20px;
    border-left: var(--accent-02) 2px solid;
    margin-left: 17px;
}
.education h3{
    margin: 2px 2px 2px 2px;
    gap: 5px;
}
/* Projects */
.projects{
    text-align: left;
    margin: 15px 0;
    gap: 15px;
}
.projects p,h5{
    padding-left: 20px;
    border-left: var(--accent-02) 2px solid;
    margin-left: 17px;
    color: var(--accent-02);
}